<ul class="board__list">
  <li class="board__items">
    <button id="add" class="board__btn" type="button" data-bs-toggle="modal" data-bs-target="#formModal">
      add
      <img src="../images/panel/add.svg" alt="add">
    </button>
  </li>
  <li class="board__items">
    <button id="edit" class="board__btn" type="button" data-bs-toggle="modal" data-bs-target="#formModal">
      edit
      <img src="../images/panel/edit.svg" alt="edit">
    </button>
  </li>
  <li class="board__items">
    <button id="delete" class="board__btn" type="button" data-bs-toggle="modal" data-bs-target="#formModal">
      delete
      <img src="../images/panel/delete.svg" alt="delete">
    </button>
  </li>
  
</ul>