<div class="panel__left nav">
  <div class="nav__avatar">
    <img class="nav__avatar image" src="../images/panel/admin.svg" alt="avatar" width="74" height="60">
  </div>
  <div class="nav__menu">
    <ul class="nav__list">
    
      <li class="nav__items">
        <a href="/teacher/students" class="nav__routes">
          <div class="nav__imaging">
            <img class="nav__images" src="../images/panel/student.svg" alt="teachers">
          </div>
          <span class="nav__text">Students</span>
        </a>
      </li>
      <li class="nav__items">
        <a href="/teacher/groups" class="nav__routes">
          <div class="nav__imaging">
            <img class="nav__images" src="../images/panel/group.svg" alt="teachers">
          </div>
          <span class="nav__text">Groups</span>
        </a>
      </li>
     
      <li class="nav__items">
        <a href="/logout" class="nav__routes">
          <div class="nav__imaging">
            <img class="nav__images" src="../images/panel/exit.svg" alt="teachers" width="43px">
          </div>
          <span class="nav__text">EXIT</span>
        </a>
      </li>
    </ul>
  </div>
</div>