<ul class="board__list">
  <li class="board__items">
    <button id="add" class="board__btn teacher__task" type="button" data-bs-toggle="modal" data-bs-target="#formModal">
      add task
      <img src="../images/panel/add.svg" alt="add">
    </button>
  </li>
</ul>